<a href="https://colab.research.google.com/github/Rohit-Thakre/py/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np 
from sklearn.datasets import load_iris

In [ ]:
iris = load_iris()

In [ ]:
df = pd.DataFrame(data = iris.data, columns= iris.feature_names)

In [ ]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [ ]:
target = pd.DataFrame(data = iris.target, columns=['target'])